-e .
accelerate==0.23.0
bert-score==0.3.13
BLEURT @ git+https://github.com/google-research/bleurt@cebe7e6
datasets==2.12.0
evaluate==0.4.1
nltk==3.8.1
numpy==1.26.4
rouge-score==0.1.2
scikit-learn==1.4.2
simple-parsing==0.1.5
tensorboard==2.16.2
torch==2.3.0
tqdm==4.66.2
transformers==4.40.1
trl==0.8.6
typer==0.12.3
